*{
    background-color: #f5f5dd;
}

div{
    height: 100px;
    width: 100px;
    margin: 10px;
}

#j{
    background-color: rgba(0,0,0,1);
}

#d{
    background-color: rgba(0,0,0,0.8);
}

#t{
    background-color: rgba(0,0,0,0.5);
}

#c{
    background-color: rgba(0,0,0,0.1);
}